extends layout

block content
    .container.afternav
        h1 About Us
        p This is a website that expresses the awesome culture of the Canadian paople
        ul
            li People
            li Places
            li Tourism

        p Hope  you enjoy the ride!!!