extends layout

block content
  .jumbotron
    .container
      h1 How may I help you?
      p What's up there I'm earldemy and I'll always be available to help you!
      a.btn.btn.primary.btn(href='#') Learn more &raquo;

  .container
    .row
      .col-md-4
        h2 People
        p Canadians are favourites of winter anything for the ice. This is what we live for.
        a.btn.btn.prinmary.btn(href='#') View details
      .col-md-4
        h2 Culture
        p Canadians are favourites of winter anything for the ice. This is what we live for.
        a.btn.btn.prinmary.btn(href='#') View details
      .col-md-4
        h2 Sports
        p Canadians are favourites of winter anything for the ice. This is what we live for.
        a.btn.btn.prinmary.btn(href='#') View details
